<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="messages">
    <ion-router-outlet name="messages"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="courts">
    <ion-router-outlet name="courts"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="weather">
    <ion-router-outlet name="weather"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="profile">
    <ion-router-outlet name="profile"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom" style="background-color: rgba(255, 246, 182, 0.51)">

    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="search"></ion-icon>
      <ion-label>Szukaj</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" href="/tabs/(messages:messages)">
      <ion-icon name="text"></ion-icon>
      <ion-label>Wiadomości</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courts" href="/tabs/(courts:courts)">
      <ion-icon name="tennisball"></ion-icon>
      <ion-label>Korty</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weather" href="/tabs/(weather:weather)">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Pogoda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
