<ion-header>
    <ion-toolbar>
        <ion-title>Aktualna pogoda w okolicy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card style="background-color:rgba(255, 246, 182, 0.51);">
        <ion-card-header>
            <ion-label id="title">20.04.2019 - Warszawa</ion-label>
        </ion-card-header>
        <img src="assets/weather/partially-clouded.svg">
            <ion-item>
                <ion-label> Temperatura</ion-label>
                <ion-badge style="float: right" color="danger">30&deg;C</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label> Wilgotność</ion-label>
                <ion-badge style="float: right" color="danger">70,1 %</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label> Wiatr</ion-label>
                <ion-badge style="float: right" color="danger">9 km/h</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label> Zachmurzenie</ion-label>
                <ion-badge style="float: right" color="danger">Częściowe</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label> Opady</ion-label>
                <ion-badge style="float: right" color="danger">14 %</ion-badge>
            </ion-item>
    </ion-card>
</ion-content>
