<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #map id="map" style="height:80%"></div>
  <ion-card>

    <img style="height:60%;" src="assets/icon/federer.jpg"/>

    <ion-card-content>
      <ion-card-title>
        Roger Federer
      </ion-card-title>
      <p>
        I like to play tennis sometimes...
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='podium' item-start style="color: #2894d0"></ion-icon>
      Rating
      <ion-badge style="position: relative; left: 215px;">8</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='tennisball' item-start style="color: #30ee05"></ion-icon>
      Matches played
      <ion-badge style="position: relative; left: 125px;">1100</ion-badge>
    </ion-item>

  </ion-card>
</ion-content>
