<ion-header>
  <ion-toolbar>
    <ion-title>Rating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header><strong>Select the best suiting description of your skill level in each element of game</strong></ion-header>
  <br>
  <ion-radio-group sortorder="2"  [(ngModel)]="forehand">

    <ion-list-header color="primary">Forehand</ion-list-header>

    <ion-item>
      <ion-label >Has difficulty hitting FH shots</ion-label>
      <ion-radio checked="true" value=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits inconsistent weak FH shots</ion-label>
      <ion-radio value=3></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits FH shots with little directional control</ion-label>
      <ion-radio value=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a short rally using FH and BH shots</ion-label>
      <ion-radio value=5></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a rally with directional control</ion-label>
      <ion-radio value=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a rally with consistency and depth</ion-label>
      <ion-radio value=7></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains an extended rally</ion-label>
      <ion-radio value=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <br>
  <ion-radio-group [(ngModel)]="backhand">

    <ion-list-header color="primary">Backhand</ion-list-header>

    <ion-item>
      <ion-label>Has difficulty hitting FH shots</ion-label>
      <ion-radio [value]=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits inconsistent weak FH shots</ion-label>
      <ion-radio [value]=3></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits FH shots with little directional control</ion-label>
      <ion-radio [value]=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a short rally using FH and BH shots</ion-label>
      <ion-radio [value]=5></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a rally with directional control</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a rally with consistency and depth</ion-label>
      <ion-radio [value]=7></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains an extended rally</ion-label>
      <ion-radio [value]=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <br>
  <ion-radio-group [(ngModel)]="movement">

    <ion-list-header color="primary">Movement</ion-list-header>

    <ion-item>
      <ion-label>Stationary position; does not move to ball to hit shots</ion-label>
      <ion-radio [value]=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Moves only 1-2 steps toward ball to hit shots</ion-label>
      <ion-radio [value]=3></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Moves toward ball; but court coverage is poor</ion-label>
      <ion-radio [value]=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Movement allows sufficient court coverage of most shots</ion-label>
      <ion-radio [value]=5></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Exceptional court coverage</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Exceptional court coverage and hits defensive lobs and inconsistent overheads</ion-label>
      <ion-radio [value]=7></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Exceptional court coverage and hits offensive lobs and consistent overheads</ion-label>
      <ion-radio [value]=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <br>
  <ion-radio-group [(ngModel)]="firstServe">

    <ion-list-header color="primary">First serve</ion-list-header>

    <ion-item>
      <ion-label>1st serve is weak</ion-label>
      <ion-radio [value]=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>1st serve faults are common</ion-label>
      <ion-radio [value]=3></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits 1st serves in at a slower pace</ion-label>
      <ion-radio [value]=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits 1st serves with pace</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Sustains a rally with directional control</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits 1st serves with pace and control</ion-label>
      <ion-radio [value]=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <br>
  <ion-radio-group [(ngModel)]="secondServe">

    <ion-list-header color="primary">Second serve</ion-list-header>

    <ion-item>
      <ion-label>Double faults are common</ion-label>
      <ion-radio [value]=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Pushes 2nd serves</ion-label>
      <ion-radio [value]=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits second serves with control</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits second serves with control and depth</ion-label>
      <ion-radio [value]=7></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits 2nd serves with spin, control, and depth </ion-label>
      <ion-radio [value]=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <br>
  <ion-radio-group [(ngModel)]="returnOfServe">

    <ion-list-header color="primary">Return of serve</ion-list-header>

    <ion-item>
      <ion-label>Has difficulty returning serve</ion-label>
      <ion-radio [value]=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Returns serve occasionally</ion-label>
      <ion-radio [value]=3></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Returns 2nd serve consistently</ion-label>
      <ion-radio [value]=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Returns some 1st serves, returns 2nd serves consistently</ion-label>
      <ion-radio [value]=5></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Returns 1st and 2nd serves consistently</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Aggressive return of 2nd serve; weak return of 1st serve</ion-label>
      <ion-radio [value]=7></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Aggressive return of 1st and 2nd serves</ion-label>
      <ion-radio [value]=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <br>
  <ion-radio-group [(ngModel)]="volleys">

    <ion-list-header color="primary">Volleys</ion-list-header>

    <ion-item>
      <ion-label>Avoids net</ion-label>
      <ion-radio [value]=2></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Does not hit volleys; avoids net </ion-label>
      <ion-radio [value]=3></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits inconsistent volleys; avoids net</ion-label>
      <ion-radio [value]=4></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits consistent FH volleys; BH volley is inconsistent</ion-label>
      <ion-radio [value]=5></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits aggressive FH volleys; hits defensive BH volleys</ion-label>
      <ion-radio [value]=6></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Hits aggressive FH and BH volleys</ion-label>
      <ion-radio [value]=8></ion-radio>
    </ion-item>

  </ion-radio-group>
  <ion-button (click)="updateRating()">Submit</ion-button>

</ion-content>
