<ion-header>
    <ion-toolbar>
        <ion-title>Ocena umiejętności</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-header><strong>Uzupełnij ankietę w celu wyliczenia wskaźnika twoich umiejętności gry w tenisa</strong>
    </ion-header>
    <br>
        <ion-radio-group sortorder="2" [(ngModel)]="forehand">

            <ion-list-header color="primary">Forehand</ion-list-header>

            <ion-item>
                <ion-label>Ma trudności w uderzaniu FH</ion-label>
                <ion-radio checked="true" value=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza nieregularne, słabe FH</ion-label>
                <ion-radio value=3></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza FH ze słabą kontrolą kierunków</ion-label>
                <ion-radio value=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Utrzymuje krótkie wymiany odbijając FH oraz BH</ion-label>
                <ion-radio value=5></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Urzymuje wymiany kontrolując kierunki</ion-label>
                <ion-radio value=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Utrzymuje wymiany uderzając powtarzalnie i głęboko</ion-label>
                <ion-radio value=7></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Utrzymuje długie wymiany</ion-label>
                <ion-radio value=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-radio-group [(ngModel)]="backhand">

            <ion-list-header color="primary">Backhand</ion-list-header>

            <ion-item>
                <ion-label>Ma trudności w uderzaniu BH</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza nieregularne, słabe BH</ion-label>
                <ion-radio [value]=3></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza FH ze słabą kontrolą kierunków</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza BH kontrolując kierunki ale bez głębokości</ion-label>
                <ion-radio [value]=5></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Odbiera trudne uderzenia defensywnie</ion-label>
                <ion-radio [value]=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Ma problemy z wysokimi i mocnymi uderzeniami</ion-label>
                <ion-radio [value]=7></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza BH i FH z kontrolą kierunku, tempa i głębokości</ion-label>
                <ion-radio [value]=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-radio-group [(ngModel)]="movement">

            <ion-list-header color="primary">Movement</ion-list-header>

            <ion-item>
                <ion-label>Pozycja stacjonarna, nie podbiega do piłki</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Podbiega 1 - 2 kroki do piłki</ion-label>
                <ion-radio [value]=3></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Porusza się w kierunki piłki, ale słabo pokrywa kort</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Pokrywa wystarczająco kort do wykonania większości uderzeń</ion-label>
                <ion-radio [value]=5></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Bardzo dobrze pokrywa kort</ion-label>
                <ion-radio [value]=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Bardzo dobrze pokrywa kort, zagrywa defensywne loby i nieregularne smecze</ion-label>
                <ion-radio [value]=7></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Bardzo dobrze pokrywa kort, zagrywa defensywne loby i powtarzalne smecze</ion-label>
                <ion-radio [value]=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-radio-group [(ngModel)]="firstServe">

            <ion-list-header color="primary">Pierwszy serwis</ion-list-header>

            <ion-item>
                <ion-label>Pierwszy serwis jest słaby</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Częste podwójne błędy przy pierwszym serwisie</ion-label>
                <ion-radio [value]=3></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Trafia pierwszy serwis uderzając wolniej</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Trafia pierwszy serwis uderzając normalną siłą</ion-label>
                <ion-radio [value]=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Trafia pierwszy serwis i kontroluje kierunek uderzając normalną siłą</ion-label>
                <ion-radio [value]=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-radio-group [(ngModel)]="secondServe">

            <ion-list-header color="primary">Drugi serwis</ion-list-header>

            <ion-item>
                <ion-label>Częste podwójne błędy</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Trafia ale uderza bardzo lekko</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza drugie serwisy z kontrolą kierunku</ion-label>
                <ion-radio [value]=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza drugie serwisy z kontrolą kierunku i głębokości</ion-label>
                <ion-radio [value]=7></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza drugie serwisy z kontrolą rotacji, kierunku i głębokości</ion-label>
                <ion-radio [value]=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-radio-group [(ngModel)]="returnOfServe">

            <ion-list-header color="primary">Odbiór serwisu</ion-list-header>

            <ion-item>
                <ion-label>Ma problemy z odbiorem</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Odbiera nieregularnie</ion-label>
                <ion-radio [value]=3></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Odbiera drugi serwis regularnie</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Odbiera pierwszy serwis nieregularnie i drugi regularnie</ion-label>
                <ion-radio [value]=5></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Odbiera pierwszy i drugi serwis regularnie</ion-label>
                <ion-radio [value]=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Agresywnie odbiera drugi serwis i słabo pierwszy serwis</ion-label>
                <ion-radio [value]=7></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Agresywnie odbiera pierwszy i drugi serwis</ion-label>
                <ion-radio [value]=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <br>
        <ion-radio-group [(ngModel)]="volleys">

            <ion-list-header color="primary">Woleje</ion-list-header>

            <ion-item>
                <ion-label>Nie gra przy siatce</ion-label>
                <ion-radio [value]=2></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Nie potrafi uderzać wolejów; Unika gry przy siatce</ion-label>
                <ion-radio [value]=3></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza niereguralne woleje; Unika gry przy siatce</ion-label>
                <ion-radio [value]=4></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza regularne woleje forehandowe i nieregularne backhandowe</ion-label>
                <ion-radio [value]=5></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza agresywnie woleje forehandowe i defensywne backhandowe</ion-label>
                <ion-radio [value]=6></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Uderza agresywnie woleje forehandowe i backhandowe</ion-label>
                <ion-radio [value]=8></ion-radio>
            </ion-item>

        </ion-radio-group>
        <ion-button expand="block" (click)="updateRating()">Oblicz</ion-button>
</ion-content>
